<h1>Index</h1>
<form action="/session" method="post">
    <label for="">Username</label>
    <input type="text" name="username">
    <label for="">Password</label>
    <input type="password" name="password">
    <input type="submit">
</form>
<a href="/auth/google">Login with Google</a>
<a href="/login">Login with Okta</a>
<a href="/logout">Logout</a>
