<h1>Index</h1>
<form action="/login" method="post">
    <label for="">Username</label>
    <input type="text" name="username" id="username">
    <label for="">Password</label>
    <input type="password" name="password" id="password">
    <input type="submit">
</form>
<div class="colFlex">
    <a href="/auth/google">Login with Google</a>
    <a href="/auth/facebook">Login with Facebook</a>
    <a href="/auth/github">Login with Github</a>
    <a href="/logout">Logout</a>
    <a href="/register">Register</a>
</div>
